{% extends "web_base.html" %}
{% block title %}Login{% endblock %}
{% block content %}


<section>

  <div class="container-fluid px-0">
    <div class="row g-0 text-center vh-100">

      <div class="align-self-center">
        <h3 align="center">Seller Login</h3>
          <br>
        <div class="container">
        <form action="" method="POST">

            <div class="input-group mb-3">
                <label for="admin_user_name" class="input-group-text">User Name</label>
                <input type="text"
                class="form-control"
                id="admin_user_name"
                name="user_name"
                placeholder="Enter Your user-name"/>
            </div>

            <div class="input-group mb-3">
                <label for="admin_password" class="input-group-text">Password</label>
                <input type="password"
                class="form-control"
                id="admin_password"
                name="password"
                placeholder="Enter Password"/>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Enter</button>

            <!--            Currently adding new sellers is off      -->

<!--            <a href="/seller/become-a-seller">New Seller? Register</a>-->

        </form>
      </div>

      </div>
    </div>
  </div>
</section>


{% endblock %}