{% extends "web_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<br>
<br>
    {% for order in orders %}
        <li class="list-group-item d-flex justify-content-between">
            <h5>{{ order.product_name }} </h5>
            <h6>{{ order.quantity }}x</h6>
            <h6>Rs. {{ order.ordered_price }}</h6>
            <p>Ordered on: {{ order.order_time }}</p>
        </li>

        <hr>
        <br>
    {% else %}
        <h4>You haven't order anything yet</h4>
    {% endfor %}


{% endblock %}
