{% extends "web_base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<br>
<div align="center">
    <a href="/seller/category/{{ new_category_id }}">
        <button class="btn btn-primary">
            Add a Category &#43;
        </button>
    </a>
    </div>
<br>


    {% for cat in categories %}
        <li class="list-group-item d-flex justify-content-between">
            <h2>{{ cat.name }} </h2>
            <p>Products: {{ cat.products|length }}</p>
            <small>
                <a href="/seller/category/{{ cat.id }}">
                    <button class="btn btn-outline-dark">Edit</button>
                </a>
                <a href="">
                   <button class="btn btn-outline-danger">Delete</button>
                </a>   
            </small>
        </li>


        <div class="card-group card-group-scroll">
            <div class="card align-middle" style="width: 1rem;">
                <div class="card-body align-self-center">
                    <a href="/seller/{{ cat.id }}/product/{{ new_product_id }}">
                        <svg svg xmlns="http://www.w3.org/2000/svg" width="4rem" viewBox="0 0 24 24"><path d="M11 11V7H13V11H17V13H13V17H11V13H7V11H11ZM12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20Z"></path></svg>
                        <div class="footer">
                            Add Product
                        </div>
                    </a>
                </div>
            </div>
        
            {% for prod in cat.products %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ prod.name }}</h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
        <hr>
        <br>
    {% endfor %}

{% endblock %}